body {
    background-color: slateblue;
}
.img {
    align-content: center;
    text-align: center;
}
.title {
    text-align: center;
    color: deeppink;
}
.watermark {
    position: absolute;
    top: 0px;
    right: 0px;
}